[user]
    name = {{ .name }}
    email = {{ .email }}

[core]
    editor = vim
    autocrlf = input

[pull]
    rebase = false

[push]
    default = simple

[fetch]
    prune = true

[merge]
    conflictstyle = diff3

[diff]
    algorithm = histogram
    colorMoved = default

[rerere]
    enabled = true

[color]
    ui = auto

[init]
    defaultBranch = master

